<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Derp Invite</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.1.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <script type="text/javascript" src="http://cdn.jsdelivr.net/webjars/jquery/1.11.1/jquery.min.js"
            th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
</head>
<body>
<section id="login">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-wrap">
                    <p ></p>
                    <h1>Derp Invite</h1>
                    <form role="form" action="#" th:action="@{/derp/invite}" th:object="${contact}" method="post" id="login-form" autocomplete="off">
                        <div class="form-group">
                            <!--<label for="email" class="sr-only">Email Address</label>-->
                            <input type="text" th:field="*{email}" id="email" class="form-control" placeholder="Email" />
                        </div>

                        <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Invite" />
                    </form>
                    <hr />
                </div>
            </div> <!-- /.col-xs-12 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>


</body>
</html>